#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weather-layout > h1 {
  width: 70%;
  text-align: center;
}

.form {
  width: 82%;
  margin: 0 auto;
}

.form > h2 {
  font-weight: normal;
  font-size: 17px;
}

.weather-item, .weather-item_img {
  display: flex;
}

.weather-item_temperature, .weather-item_status {
  margin-right: 20px;
}

.weather-item_temperature, .weather-item_status p {
  text-align: center;
  font-weight: normal;
}

.weather-item_temperature, .weather-item_status, .weather-item_situation span {
  font-weight: bold;
}

.weather-item_temperature p {
  font-weight: normal;
}