hr {
  width: 600px;
  display: block;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weather-layout > h1 {
  text-align: center;
}

.weather-item_date {
  margin: 0 auto;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form > h2 {
  font-weight: normal;
  font-size: 17px;
}

.weather-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 651px;
}

.weather-layout h2 {
  text-align: center;
}

.weather-item, .weather-item_img {
  display: flex;
  justify-content: space-between;
}

.weather-item_temperature, .weather-item_status {
  margin-right: 20px;
}

.weather-item_temperature, .weather-item_status p {
  text-align: center;
  font-weight: normal;
}

.weather-item_time p {
  text-align: center;
  font-weight: normal;
}

.weather-item_temperature, .weather-item_status, .weather-item_situation, .weather-item_time span {
  font-weight: bold;
}

.weather-item_temperature p {
  font-weight: normal;
}